In [1]:
#shift+enter
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
import pandas as pd

iris = load_iris()
df = pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [2]:
df['target'] = iris.target

In [3]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
X = df[["petal length (cm)", "petal width (cm)"]]
X.head()

   petal length (cm)  petal width (cm)
0                1.4               0.2
1                1.4               0.2
2                1.3               0.2
3                1.5               0.2
4                1.4               0.2

In [5]:
y = iris.target

# Model Training

In [7]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(X,y)
X_transform = ss.transform(X)

In [8]:
log = LogisticRegression()
log.fit(X_transform,y)
log

LogisticRegression()

In [ ]:
# New Data
# Step 1 : Perform transformation using StandardScaler
# Step 2 : Generating a Prediction

# New Data : [1.8, 0.5]

In [9]:
new_data = [[1.8,0.5]]
new_data_transform = ss.transform(new_data)

C:\Users\navan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [11]:
log.predict(new_data_transform)

array([0])

In [13]:
log.predict([[10,20]])[0]

2

In [9]:
log.predict([[0,2]])[0]

c:\Users\navan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

0

# SkLearn Pipeline

In [15]:
from sklearn.pipeline import Pipeline

In [16]:
pipe = Pipeline(steps=[("scaler", StandardScaler()), # fit & transform on trianing data
                       ("model",LogisticRegression())]) # fit on final model

In [17]:
pipe.fit(X,y)

Pipeline(steps=[('scaler', StandardScaler()), ('model', LogisticRegression())])

In [18]:
pipe.predict([[10,20]])

C:\Users\navan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([2])

In [19]:
#Option 1
import pickle
with open('log.model','wb') as f_out:
  pickle.dump(pipe,f_out)

In [21]:
f_out = open('log.bin','wb')
pickle.dump(pipe,f_out)
f_out.close()

In [20]:
#Option 2
import joblib

with open('log.joblib','wb') as f_out:
  joblib.dump(pipe,f_out)